.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 25px;
  }
  
  .description {
    display: flex;
  }

  .actions button {
    font-size: small;
    height: 30px;
    border-radius: 25px;
  }
  
  