.App {
  text-align: center;
  background-color: maroon;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gold;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  border: solid black;

}

.myLists {
  width: 10%;
  border: solid pink;

}

.todos {
  width: 45%
}

.finishedTodos {
  width: 45%
}