body {
  margin: 0;
  background-image: linear-gradient(360deg, rgb(116, 16, 116),rgb(192, 62, 84), rgb(255, 168, 53) , rgb(255, 255, 107));
  font-family: 'Lobster';
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

